
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<div>
    <fieldset>
        <legend>Security</legend><input id="secInput" type="text" />
        <legend>From</legend><input id="dateFrom" type="date"/>
        <legend>Action</legend><input type="button" value="Prepare data" onclick="prepareData();"/>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>TestTime</legend><input id="testTime" type="datetime" />
        <legend>Action</legend><input type="button" value="Reset data" onclick="resetData();" />
    </fieldset>
</div>

<script>

    function prepareData() {
        var security = $("#secInput").val();
        var datefrom = $("#dateFrom").val();

        $.ajax({
            url: "@Url.Action("PrepareData")",
            data: { sec: security, from: datefrom },
            success: function (data) {
                    alert(data);
                }
            }
        );
    }

    function resetData()
    {
        var _testTime = $("#testTime").val();

        $.ajax({
            url: "@Url.Action("Reset")",
            data: { testTime: _testTime },
            success: function (data) {
                    alert(data);
                }
            }
        );
    }

</script>